# Netflix project python file for VS-code

In [ ]:
#Terminal code to install Kaggle API: 
    # pip install kaggle

#Terminal code to download dataset from Kaggle:  
    # kaggle datasets download -d shivamb/netflix-shows

## Step 1: unzipping csv file from Kaggle and setting up Pandas and the dataframe

In [2]:
import zipfile
import os

zip_path = r"C:\Users\tyler\OneDrive\Education\VS_Code_Repositories\Netflix Project\netflix-shows.zip"
extract_to = r"C:\Users\tyler\OneDrive\Education\VS_Code_Repositories\Netflix Project"

with zipfile.ZipFile(zip_path, 'r') as zip_ref:
    zip_ref.extractall(extract_to)

print("Unzipped successfully.")

Unzipped successfully.

In [ ]:
# Next, we need to setup pandas to work with the dataset, create a DataFrame, and load the dataset.

# 1) Terminal code to install pandas: pip install pandas

# 2) After installing pandas, you need to import it to work with dataframes.
import pandas as pd

# 3) Load the dataset into a pandas DataFrame
df = pd.read_csv(os.path.join(extract_to, 'netflix_titles.csv'))

## Step 2: inital data cleaning

In [14]:
df.shape  # This will show the number of rows and columns in the DataFrame

(8807, 12)

In [24]:

df.head(10)  # This will display the first 10 rows of the DataFrame

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
7,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...",2021-09-24,1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s..."
8,s9,TV Show,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...",United Kingdom,2021-09-24,2021,TV-14,9 Seasons,"British TV Shows, Reality TV",A talented batch of amateur bakers face off in...
9,s10,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,2021-09-24,2021,PG-13,104 min,"Comedies, Dramas",A woman adjusting to life after a loss contend...
12,s13,Movie,Je Suis Karl,Christian Schwochow,"Luna Wedler, Jannis Niewöhner, Milan Peschel, ...","Germany, Czech Republic",2021-09-23,2021,TV-MA,127 min,"Dramas, International Movies",After most of her family is murdered in a terr...
24,s25,Movie,Jeans,S. Shankar,"Prashanth, Aishwarya Rai Bachchan, Sri Lakshmi...",India,2021-09-21,1998,TV-14,166 min,"Comedies, International Movies, Romantic Movies",When the father of the man she loves insists t...
27,s28,Movie,Grown Ups,Dennis Dugan,"Adam Sandler, Kevin James, Chris Rock, David S...",United States,2021-09-20,2010,PG-13,103 min,Comedies,Mourning the loss of their beloved junior high...
28,s29,Movie,Dark Skies,Scott Stewart,"Keri Russell, Josh Hamilton, J.K. Simmons, Dak...",United States,2021-09-19,2013,PG-13,97 min,"Horror Movies, Sci-Fi & Fantasy",A family’s idyllic suburban life shatters when...
29,s30,Movie,Paranoia,Robert Luketic,"Liam Hemsworth, Gary Oldman, Amber Heard, Harr...","United States, India, France",2021-09-19,2013,PG-13,106 min,Thrillers,"Blackmailed by his company's CEO, a low-level ..."
38,s39,Movie,Birth of the Dragon,George Nolfi,"Billy Magnussen, Ron Yuan, Qu Jingjing, Terry ...","China, Canada, United States",2021-09-16,2017,PG-13,96 min,"Action & Adventure, Dramas",A young Bruce Lee angers kung fu traditionalis...
41,s42,Movie,Jaws,Steven Spielberg,"Roy Scheider, Robert Shaw, Richard Dreyfuss, L...",United States,2021-09-16,1975,PG,124 min,"Action & Adventure, Classic Movies, Dramas",When an insatiable great white shark terrorize...

In [15]:
df.info()  # This will give you a concise summary of the DataFrame, including the number of non-null entries and data types

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [ ]:
df.duplicated().sum()  # This will check for duplicate rows in the DataFrame
# There are no duplicate rows in the dataset

np.int64(0)

In [17]:
df.isnull().sum()  # This will check for missing values in each column of the DataFrame

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [ ]:
df.dropna(inplace=True)  # This will remove any rows with missing values from the DataFrame
df.shape  # This will show the shape of the DataFrame after removing missing values
# There were 8807 rows and 3475 rows were removed due to missing values. There are now 5332 rows remaining.

(5332, 12)

In [ ]:
# Need to convert the 'date_added' column to a datetime format and then format it as 'YYYY-MM-DD' so it can be used in sql queries.

df['date_added'] = df['date_added'].str.strip() # Strip whitespace before converting to datetime
df['date_added'] = pd.to_datetime(df['date_added'])  # Convert to datetime
df['date_added'] = df['date_added'].dt.strftime('%Y-%m-%d')  # Format as 'YYYY-MM-DD'

In [ ]:
df.head()  # Display the first few rows of the DataFrame to verify changes.

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
7,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...",2021-09-24,1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s..."
8,s9,TV Show,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...",United Kingdom,2021-09-24,2021,TV-14,9 Seasons,"British TV Shows, Reality TV",A talented batch of amateur bakers face off in...
9,s10,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,2021-09-24,2021,PG-13,104 min,"Comedies, Dramas",A woman adjusting to life after a loss contend...
12,s13,Movie,Je Suis Karl,Christian Schwochow,"Luna Wedler, Jannis Niewöhner, Milan Peschel, ...","Germany, Czech Republic",2021-09-23,2021,TV-MA,127 min,"Dramas, International Movies",After most of her family is murdered in a terr...
24,s25,Movie,Jeans,S. Shankar,"Prashanth, Aishwarya Rai Bachchan, Sri Lakshmi...",India,2021-09-21,1998,TV-14,166 min,"Comedies, International Movies, Romantic Movies",When the father of the man she loves insists t...

In [25]:
df.to_csv(os.path.join(extract_to, 'netflix_titles_cleaned.csv'), index=False)  # Save the cleaned DataFrame to a new CSV file
print("DataFrame cleaned and saved successfully.")

DataFrame cleaned and saved successfully.

## Step 3: Exporting the cleaned dataset to SQL

In [ ]:
# Terminal code to install sqlalchemy:
    # pip install sqlalchemy
# Terminal code to install psycopg2:
    # pip install psycopg2-binary

import psycopg2 # Importing psycopg2 to connect to PostgreSQL
from sqlalchemy import create_engine  # Importing create_engine from sqlalchemy to create a database engine

In [31]:
df = pd.read_csv(os.path.join(extract_to, 'netflix_titles_cleaned.csv'))  # Load the cleaned DataFrame

engine_sql = create_engine('postgresql+psycopg2://postgres:x0000@localhost:5432/netflix_db') # Create a connection to the PostgreSQL database

In [33]:
from sqlalchemy import create_engine, text

# Create a temporary connection to the default 'postgres' database
temp_engine = create_engine('postgresql+psycopg2://postgres:x0000@localhost:5432/postgres')
with temp_engine.connect() as conn:
    conn.execute(text("commit"))  # End transaction before CREATE DATABASE
    try:
        conn.execute(text("CREATE DATABASE netflix_db"))
        print("Database 'netflix_db' created successfully.")
    except Exception as e:
        if "already exists" in str(e):
            print("Database 'netflix_db' already exists.")
        else:
            print(f"Error creating database: {e}")

# Now proceed with writing the DataFrame to the database
df.to_sql('netflix_titles', engine_sql, if_exists='replace', index=False)  # Write the DataFrame to the PostgreSQL database
print("DataFrame written to PostgreSQL database successfully.")

try:
    engine_sql.connect()  # Attempt to connect to the database
    print("Connection to the database was successful.")
except Exception as e:
    print(f"Connection to the database failed. Please check your connection parameters. Error: {e}")

Database 'netflix_db' created successfully.
DataFrame written to PostgreSQL database successfully.
Connection to the database was successful.